.userDetailComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5rem;
}

.avatar {
  --avatar-size-big: 10rem;
  width: var(--avatar-size-big);
  height: var(--avatar-size-big);
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: inherit;
  object-fit: contain;
}
